.text-offer-title{
    font-size: 18px;
    font-family: var(--font-gothambold);
}
.text-offer-description{
    font-size: 14px;
    width: 70%;

}
.service-providing{
    margin-top: 4rem;
    background-color: #641B3180;
    padding: 2.5rem 0;
}
.text-presenting-tag{
    font-family: var(--font-gothambold);
    color: white;
    font-size: 56px;
}
.section-about-offer-prov{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);   
    margin: 0.5rem 0;
}
